################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RecipeBookSolution/.vs
/RecipeBookSolution/RecipeBook/bin/Debug/net8.0
/RecipeBookSolution/RecipeBook/obj
