@model List<RecipeBook.Models.DatabaseModels.Recipe>
@{
    ViewData["Title"] = "Categories";
}

<strong>test</strong>

<ul>
    @foreach (var recipe in Model)
    {
        <li>@recipe.Title</li>
    }
</ul>
