@model List<RecipeBook.Models.DatabaseModels.Recipe>
@{
    ViewData["Title"] = "Create Recipe";
}


<div class="recipeDetailLeft">

    <div class="recipeDetailImage">
        <strong>Obrazek...</strong>
    </div>

    <div class="recipeDetailDescription">
        <strong>Popisek...</strong>
    </div>

    <div class="recipeDetailInfo">
        <strong>Info...</strong>
    </div>
</div>


<div class="recipeDetailPart">
    <strong>Postup...</strong>
</div>

<div class="recipeDetailPart">
    <strong>Ingredience...</strong>
</div>




