/*
    html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
    */

body {
    background-color: #F2EEE9;
}


footer {
    background-color: #303030;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    color: white;
    text-align: center;
}

.footer {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header {
    height: 78px;
    background-color: #56B385;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.headerDiv {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
}

.sidebar {
    position: fixed;
    top: 8.8vh;
    left: 0;
    bottom: 0;
    width: 65px;
    border-right: 2px solid black;
    background: #56B385;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    z-index: 998;
}

.sideNav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

    .sideNav img:hover {
        transform: scale(1.2);
        transition: all 0.3s ease;
    }

    .sideNav img {
        transform: scale(1);
        transition: all 0.3s ease;
    }

.signOut {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    transition: transform .3s ease;
}

    .signOut a, .signOut img {
        display: block;
        width: 100%;
        height: 100%;
    }

        .signOut img:hover {
            transform: scale(1.2);
        }


.accountIcon {
    margin-left: auto;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    z-index: 10;
    transform: scale(1);
    transition: all 0.3s ease;
}

    .accountIcon img {
        width: 110%;
        height: 110%;
        object-fit: cover;
        border-radius: 100%;
        display: block;
    }

    .accountIcon:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
    }

.vyhledavaniReceptu {
    width: 100%;
    max-width: 270px;
    height: 50px;
    padding: 12px;
    font-size: 18px;
    font-family: "JetBrainsMonoNL NF", monospace;
    color: #000;
    background-color: #F2EEE9;
    border: 4px solid #000;
    border-radius: 0;
    outline: none;
    box-shadow: 4px 4px 0 #000;
    transition: all 0.2s ease;
}

    .vyhledavaniReceptu:hover {
        background-color: #dedad5;
        transition: all 0.2s ease;
    }

    .vyhledavaniReceptu:focus {
        box-shadow: 8px 8px 0 #000;
        transition: all 0.2s ease;
    }

    .vyhledavaniReceptu.flash {
        background-color: #ae74cc;
        color: white;
        transition: background-color 0.2s ease, color 0.2s ease;
    }

.vyhledavaniParent {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.sideNav a img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: 30px;
}


.tooltip-inner {
    background-color: #ae74cc;
    border: 2px solid black;
    font-family: "JetBrainsMonoNL NF", monospace;
}

.tooltip.show {
    opacity: 1;
}



.pouzitelnyViewParent {
    background-color: #ebe5df;
    flex: 1;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 40px 50px 40px;
    transform: scale(1);
    transition: all 0.3s ease;
}

    .pouzitelnyViewParent:hover {
        box-shadow: 8px 8px 0 #000;
        transition: all 0.3s ease;
    }


/* Forma pro prihlaseni */
.loginPage {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center; /* center horizontalne */
    align-items: center; /* center vetrikalne */
}

/* prosim funguj */
.loginForm {
    /*    --input-focus: #2d8cf0;*/
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #ebe5df;
    --main-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 2px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    font-family: "JetBrainsMonoNL NF", monospace;
    width: min(320px, 90vw);
    box-sizing: border-box;
    background-color: #F2EEE9;
}

.title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
}

    .title span {
        color: var(--font-color-sub);
        font-weight: 600;
        font-size: 16px;
    }

.accountInput {
    width: 100%;
    height: 40px;
    border-radius: 2px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
    box-sizing: border-box;
}

    .accountInput::placeholder {
        color: var(--font-color-sub);
        opacity: 0.8;
    }

    /*.accountInput[type="password"] {
    -webkit-text-security: square !important;
}*/

    .accountInput:focus {
        /*    border: 2px solid var(--input-focus);*/
    }

.login-with {
    display: flex;
    gap: 20px;
}

.button-log {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    color: var(--font-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
}

.iconSearch {
    width: 34px;
    height: 34px;
    fill: var(--main-color);
}

.vyhledavaniLupa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

.button-log:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}

.button-confirm {
    margin: 20px auto 0 auto;
    width: 140px;
    max-width: 100%;
    height: 40px;
    border-radius: 2px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 14px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}

    .button-confirm.flash {
        background-color: #ae74cc;
        color: white;
        transition: color 0.2s ease;
    }

.loginFormWrapper {
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: max-content;
}
/* Konec formy pro prihlaseni */


/* Karticky pro recepty */
.recipeCard {
    border: 2px solid black;
    width: 300px;
    height: 250px;
    box-shadow: 4px 4px 0 #000;
    transition: box-shadow 0.2s ease;
}

    .recipeCard:hover {
        box-shadow: 8px 8px 0 #000;
    }

        .recipeCard:hover .recipeCardContent { /* Pri hoveru na karticku se zmeni bg color spodni casti */
            background-color: #ae74cc;
            color: white;
        }

.recipeCardImage {
    border-bottom: 2px solid black;
    height: 70%;
}

.recipeCardName {
    position: absolute;
    top: 0;
    padding: 2px 0 0 5px;
    font-family: "JetBrainsMonoNL NF", monospace;
}

.recipeCardCreator {
    position: absolute;
    bottom: 0;
    padding-left: 5px;
    font-family: "JetBrainsMonoNL NF", monospace;
}

.no-layout-form {
    display: contents;
}

@supports not (display: contents) {
    .no-layout-form {
        display: block;
        margin: 0;
        padding: 0;
    }
}

.recipeCardCategory {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    font-family: "JetBrainsMonoNL NF", monospace;
}

.recipeCardContent { /* Spodni cast karticky */
    height: 30%;
    display: flex;
    position: relative;
    background-color: #ebe5df;
    transition: background-color 0.2s ease, color 0.2s ease;
}


.recipeGrid { /* Grid karticek */
    width: 100%;
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
}
/* Konec karticek pro recepty */



.pouzitelnyView {
    margin-top: 8.8vh;
    margin-left: 3.5vw;
    height: calc(100vh - 8.8vh);
    width: calc(100vw - 3.5vw);
    background-color: #F2EEE9;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 40px 80px 40px 80px;
    /*    overflow: hidden;*/
}

.recipeDetailPart {
    border: 2px solid black;
    margin: 0px 30px 0px 30px;
    padding: 5px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    font-family: "JetBrainsMonoNL NF", monospace;
    overflow-y: auto;
}

.recipeDetailLeft {
    margin: 0px 30px 0px 30px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    font-family: "JetBrainsMonoNL NF", monospace;
}

.recipeDetailImage {
    top: 0;
    width: 100%;
    height: 600px;
    border: 2px solid black;
    margin-bottom: 40px;
    font-family: "JetBrainsMonoNL NF", monospace;
}

    .recipeDetailImage img, .recipeCardImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.recipeDetailDescription {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    padding: 5px;
    font-family: "JetBrainsMonoNL NF", monospace;
    overflow-y: auto;
}

.recipeDetailDescriptionCreateRecipe {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
    align-items: stretch; 
    overflow-y: auto;
}

    .recipeDetailDescriptionCreateRecipe > div {
        display: block;
        width: 100%;
        clear: both;
    }

.recipeDetailDescriptionTextBoxContainer {
    height: 100%;
}

.recipeDetailInfo {
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
    padding: 5px;
    font-family: "JetBrainsMonoNL NF", monospace;
}

.textArea {
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    background-color: #F2EEE9;
    font-family: "JetBrainsMonoNL NF", monospace;
    overflow-y: auto;
    /*transition: border-color 0.3s ease-in-out;*/
}

.textArea:focus {
    outline: none;
    border: 2px solid #ae74cc;
}

.input-validation-error {
    background-color: rgba(255, 0, 0, 0.5);
}

.nameAndCategory {
    display: flex;
    gap: 50px;
}

.createName {
    background-color: #F2EEE9;
}

.createRecipeButton {
    margin-top: 15px;
    background-color: #ae74cc;
    color: white;
    padding: 10px 20px 10px 20px;
    border: 2px solid black;
    box-shadow: 4px 4px 0 #000;
    font-family: "JetBrainsMonoNL NF", monospace;
}
.createRecipeButton:active {
    box-shadow: 0px 0px 0 #000;
    transform: translate(4px, 4px);
}
