/*
    html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
    */

body {
    background-color: #F2EEE9;
}
    

footer {
    background-color: #303030;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    color: white;
    text-align: center;
}

.footer {
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header {
    height: 8.8vh;
    background-color: #56B385;
}

.headerDiv {
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
}

.sidebar {
    height: 100vh;
    width: 3.5vw;
    border-right: 2px solid black;
    position: fixed;
    background-color: #56B385;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sideNav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.sideNav img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.sideNav img{
    transform: scale(1);
    transition: all 0.3s ease;
}

.signOut {
    margin-top: 25vw;
    transition: all 0.3s ease;
}

.signOut img:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.signOut img {
    transform: scale(1);
    transition: all 0.3s ease;
}

.accountIcon {
    height: 80%;
    margin-left: auto;
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    margin-right: 1vw;
    z-index: 10;
    transform: scale(1);
    transition: all 0.3s ease;
}

.accountIcon img {
    width: 110%;
    height: 110%;
    object-fit: cover;
    border-radius: 100%;
    display: block;    
}

.accountIcon:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
   
}

.input {
    width: 100%;
    max-width: 270px;
    height: 50px;
    padding: 12px;
    font-size: 18px;
    font-family: "JetBrainsMonoNL NF", monospace;
    color: #000;
    background-color: #F2EEE9;
    border: 4px solid #000;
    border-radius: 0;
    outline: none;
    box-shadow: 6px 6px 0 #000;

}

.input:hover{
    background-color: #dedad5;
    transition: all 0.3s ease;
}

.input:focus{
    box-shadow: 8px 8px 0 #000;
    transition: all 0.3s ease;
}

.input.flash {
    background-color: #c86bff;
    color: white;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.vyhledavaniParent {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.sideNav a img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: 30px;
}

.signOut a img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-top: 30px;
}

.tooltip-inner {
    background-color: #935ab0;
    border: 2px solid black;
    font-family: "JetBrainsMonoNL NF", monospace;
}

.tooltip.show {
    opacity: 1;
}

.listHlavniStranky {
    margin-left: 3.5vw;
    height: calc(100vh - 8.8vh);
    width: calc(100vw - 3.5vw);
    background-color: #F2EEE9;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 40px 80px 40px 80px;
}

.listHlavniStrankyParent {
    background-color: #ebe5df;
    flex: 1;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 40px 50px 40px;
    transform: scale(1);
    transition: all 0.3s ease;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.listHlavniStrankyParent:hover {
    box-shadow: 8px 8px 0 #000;
    transform: scale(1.005);
    transition: all 0.3s ease;

}